// for global.scss

/* 

    ╔═══════ ೋღ global.scss ღೋ ═══════╗ 

*/

$largest: 3.052rem;
$large: 2.441rem;
$mediumLarge: 1.953rem;
$medium: 1.563rem;
$mediumSmall: 1.25rem;
$small: 1rem;
$small2: 0.8rem;
$small3: 0.64rem;
$smallest: 0.512rem;

$sizeLineHeight: 140%;

/* 

    ╚═══════ ೋღ global.scss ღೋ ═══════╝

*/
