@mixin dimensions($width: auto, $height: auto) {
    @if ($width != auto) {
        width: $width;
    }
    @if ($height != auto) {
        height: $height;
    }
}

@mixin flex(
    $alignItems: stretch,
    $justifyContent: flex-start,
    $direction: row
) {
    display: flex;
    @if ($alignItems != stretch) {
        align-items: $alignItems;
    }
    @if ($justifyContent != flex-start) {
        justify-content: $justifyContent;
    }
    @if ($direction != row) {
        flex-direction: $direction;
    }
}
